
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0;
    justify-content: center;
    background-color: #000000
}

header img {
    width: 100%; 
    max-width: 1440px; 
    height: 374px; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto;
}

section {
    background-color: #fff;
    max-width: 1440px;
    display: flex;
    gap: 64px;
    padding: 75px 205px;
    margin: auto;
}

.card_MFM {
    flex: 1;
    margin-top: 10px;
    height: 96px;  
    line-height: 2.5;  
}

.tel_link { 
    color: inherit;
}

.contactez-nous {
    flex: 2;
    position: relative; 
    top: -170px;
    max-width: 584px;
    max-height: 875px;
    background-color: #fff;
    padding: 48px;
    border-radius: 8px;
    box-shadow: 0px 4px 28px 0px rgba(28, 133, 166, 0.13);
}

.btn_toggle {
    position: relative;
    display: flex;
    max-width: 312px;
    height: 41px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 44px;
    overflow: hidden;
    margin: 15px;
    align-items: center; 
    justify-content: center;
}

.btn_toggle .icon { 
    width: 20px; 
    height: 20px; 
}

.btn_toggle button {
    flex: 1;
    border: none;
    border-radius: 44px;
    max-width: 312px;
    height: 41px;
    padding: 5px;
    background: transparent;
    transition: background-color 0.45s ease;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.btn_toggle .slider { 
    position: absolute; 
    top: 5px; 
    left: 5px; 
    width: calc(50% - 5px); 
    height: calc(100% - 10px); 
    background: white; 
    border-radius: 50px; 
    transition: transform 0.9s ease-in-out; z-index: 1; 
}

.btn_toggle button.btn_active { 
    background-color: rgba(157, 209, 41, 1);
}


.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.form input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    background: transparent;
    outline: none;
    font-size: 18px;
}

.row {
    display: flex;
    gap: 20px;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    margin: 15px;
    gap: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

.checkbox input[type="checkbox"] { 
    accent-color: rgba(157, 209, 41, 1);
    box-shadow: 0px 2px 2px 2px #0000002f;
}

.btn_envoyer {
    width: 198px;
    height: 57px;
    padding: 12px;
    border: none;
    border-radius: 44px;
    display: block; 
    margin: 0 auto;
    background-color: rgba(157, 209, 41, 1);
    font-weight: 700; 
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.notif {
    margin-top: 15px;
    padding: 10px 15px;
    background: #f0f0f0;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.notif.show {
    opacity: 1;
}




/* ======== TABLET ======== */
@media (max-width: 1024px) {

    section {
        padding: 60px 40px;
        gap: 50px;
    }

    .contactez-nous {
        top: -80px;
        padding: 40px;
    }

    .btn_toggle {
        max-width: 260px;
        height: 45px;
        margin: 20px auto;
    }

    .btn_toggle button {
        font-size: 14px;
        height: 45px;
    }
        
}

/* ======== MOBILE ======== */
@media (max-width: 768px) {

    body {
        background-color: #fff;
    }

    section {
        flex-direction: column;
        align-items: center; 
        padding: 40px 20px;
        gap: 40px;
    }

    header img {
        height: 200px;
        object-position: center;
    }

    .contactez-nous {
        top: 0; 
        max-width: 80%;
        padding: 30px 20px;
    }

    .card_MFM {
        margin: 40px;
        line-height: 2;
    }

    .btn_toggle {
        max-width: 60%;
        height: 45px;
        margin: 20px auto;
    }

    .btn_toggle button {
        font-size: 14px;
        height: 45px;
    }

    .btn_toggle .icon {
        width: 16px;
        height: 16px;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .btn_envoyer {
        width: 50%;
        height: 55px;
        font-size: 20px;
    }
}

